body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #ff5b1e;
}
.headertd {
  padding: 10px;
  border: 1px solid #cccccc;
  cursor: pointer;
  color: #095be8;
  background-color: white;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.headertd a {
  text-decoration: none !important;
  color: #145cd6;
}
.menuContainer {
  background-color: mediumblue;
  padding-top: 5px;
  padding-bottom: 5px;
}
.slide-container {
  width: 80%;
  margin: auto; 
  padding-top: 10px;
}
.each-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}
.each-slide img { 
  width: 80%;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #4d4b4b;
  text-align: center;
}

.each-fade {
  display: flex;
}
.file-component {
  border: 1px solid #145cd6;
  columns: #145cd6;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
}
.routeContainer {
  margin-left: 5px;
  margin-right: 5px;
}
.formLabel {
  color: #ffffff;
  margin-right: 10px;
  font-weight: 550;
  float: left;
  line-height: 30px;
  padding-left: 1px;
  width: 100%;
}
.formField {
  height: 25px;
}
.formFieldContainer {
  margin-bottom: 0px;
}
.loginHeader {
  color: #ffffff;
  font-weight: 800;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.formButton {
  height: 35px;
  color: #145cd6;
  font-weight: 550;
}
.contactInfo {
  color: #ffffff;
  line-height: 20px;
  font-weight: 550;
}
.serviceP {
  padding-left: 20px;
}
.appLabel {
  color: #ffffff;
  margin-right: 10px;
  font-weight: 550;
  line-height: 30px;
}
.cfGridTr {
  border-bottom: 1px solid #ccc;
}
.cfGridTh {
  padding: 10px;
  color: #ffffff;
  font-weight: 550;
  text-align: left;
  border-bottom: 1px solid #ca5050;
  box-shadow: 2px 0px 0px 0px #ca5050;
  background-color: #5a5959;
}
.cfGridTd {
  padding: 10px;
  color: #ffffff;
  text-align: left;
  border-bottom: 1px solid #ca5050;
  box-shadow: 2px 0px 0px 0px #ca5050;
}
.grid-title {
  color: #ffffff;
  margin-right: 10px;
  font-weight: 550;
  line-height: 40px;
  background-color: #0707f3;
}
.grid-div {
  /*border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;*/
  box-shadow: 1px 1px 2px 2px #615e5e;
}
.required-text {
  color: red;
  padding-left: 2px;
}